body {
    /***
      ADD YOUR CUSTOM STYLING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   /* Toc container */
.sidebar-container .toc .toc-container{
 max-height:2220px;
}

/* Toc */
.sidebar .sidebar-container > .toc{
 padding-left:20px;
 padding-right:20px;
}
}
/* Content Division */
.cm-s-obsidian{
 max-width:1000px;
}
/* Callout title inner */
.cm-s-obsidian .callout .callout-title-inner{
 text-transform:uppercase;
}
